@import '../../../assets/styles/layout/breakpoints';

.overall-container {
    padding: 5px;

    h2 {
        font-size: 2.0rem;
    }

    text-align:center;

    .email-message {
        margin: 0 auto;
        width: 95%;
        font-size: 0.9rem;

        @include mq-medium-min {
            font-size: 1.0rem;
            width: 50%;
        }

        @include mq-large-min {
            width: 60%;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            margin-top: 40px;
            width: 275px;
            height: 40px;
            margin: 0 auto;
            font-size: 0.9rem;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: white;
            color: black;

            @include mq-x-large-min {
                width: 450px;
            }

        }

        .form-field-container {
            width: 275px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto;
            margin-top: 20px;

            @include mq-x-large-min {
                width: 450px;
            }

            label {
                text-align: start;
                font-size: 1.2rem;
            }

            input,
            textarea {
                font-family: 'Oswald';
                font-size: 1.0rem;
                color: black;
            }

            input {
                height: 30px;
                color: black;

            }

            textarea {
                height: 150px;
            }

            .error-container {
                text-align: start;
                color: #FFF933;
                height: 14px;
            }

        }

        .small {
            height: 78px;
        }

        .large {
            height: 200px;
            margin-bottom: 20px;
        }

        .submit-email-message {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .sucess {
                color: yellow;
                font-size: 0.9rem;
                text-align: center;
            }

            .error {
                color: red;
                font-size: 0.9rem;
                text-align: center;
            }

        }

    }
}

.active-button {
    background: linear-gradient(to right, darkgray, black);
    color: white !important;
}