@import '../../../assets/styles/layout/breakpoints';

.hover {
    transform: scale(1.1);
}

section {

    .close-container {
        float: right;
        margin-top: -5%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .close-container:hover {
        transform: scale(1.25);
        color: red;
    }

    h2 {
        font-size: 1.4rem;

        @include mq-medium-min {
            font-size: 1.8rem;
        }

        @include mq-large-min {
            font-size: 2.2rem;
        }

        @include mq-x-large-min {
            font-size: 2.5rem;
        }

        text-align: center;
        font-weight: bold;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 25px;

        @include mq-large-min {
            padding-top: 50px;
            padding-bottom: 100px;
            justify-content: space-evenly;
        }

        @include mq-large-min {
            padding-bottom: 150px;
        }
        

        .github-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .linkedin-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 125px;
            }
        }

        .github-container:hover,
        .linkedin-container:hover {
            @extend .hover;
        }
    }
}