@import '../../../assets/styles/layout/breakpoints';

.hover {
    transform: scale(1.1);
}

section {

    .close-container {
        float: right;
        margin-top: -7.5%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .close-container:hover {
        transform: scale(1.25);
        color: red;
    }

    h2 {
        font-size: 1.4rem;

        @include mq-medium-min {
            font-size: 1.8rem;
        }

        @include mq-large-min {
            font-size: 2.2rem;
        }

        @include mq-x-large-min {
            font-size: 2.5rem;
        }

        text-align: center;
        font-weight: bold;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 25px;
        width: 75%;
        margin: 0 auto;

        @include mq-large-min {
            padding-top: 50px;
            padding-bottom: 100px;
            justify-content: space-evenly;
            width: 90%;
        }

        @include mq-large-min {
            padding-bottom: 100px;
        }


        .github-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .github-image {
                height: 75px;
                width: 75px;
                background-size: 75px;
                background-image: url('../../../assets/images/github.svg');

                @include mq-large-min {
                    height: 150px;
                    width: 150px;
                    background-size: 150px;
                }

            }

        }

        .linkedin-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 75px;

                @include mq-large-min {
                    width: 150px;
                }

            }
        }

        .github-container:hover,
        .linkedin-container:hover {
            @extend .hover;
        }
    }
}