<section>
    <div (click)="closeFunc()" class="close-container">
        <div class="close-button">
            &#x2715;
        </div>
    </div>
    <h2> Find me on: </h2>
    <main>
        <div (click)="openLink('github')" class="github-container">
            <div class="github-image"></div>
        </div>
        <div (click)="openLink('linkedIn')" class="linkedin-container">
            <img src="/assets/images/linkedin.png" alt="'shane arthur linkedIn'" />
        </div>
        <div (click)="openLink('leetcode')" class="leetcode-container">
            <img src="/assets/images/leetcode.png" alt="'shane arthur leetcode'" />
        </div>
    </main>
</section>