div {
    h2 {
        font-size: 2.0rem;
        text-align: center;
    }

    .close-container{
        float:right;
        margin-top: -25px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .close-container:hover{
        transform: scale(1.25);
        color: red;
    }

    .info-container {
        display: flex;
        flex-direction: row;

        .image-container {
            img {
                width: 450px;
                height: 550px;
                border-radius: 25px;
            }
        }

        .description-container{
            margin: 2.5%;

            p{
                text-indent: 1.25em;
                line-height: 1.75em;
                font-size: 1.3rem;
            }

            .home-depot-container{
                display: flex;
                flex-direction: row;

                .image-container{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;
                
                img{
                    height: 44px;
                    width: 44px;
                }

            }

            }

        }
    }
}