<div class="about-container">
    <div (click)="closeFunc()" class="close-container">
        <div class="close-button">
            &#x2715;
        </div>
    </div>
    <h2> Hi, I'm Shane Arthur</h2>
    <div class="info-container">
        <div class="image-container">
            <!-- <img src="../../../assets/images/shane.png" alt="'shane arthur'" /> -->
            <ngu-carousel [dataSource]="carouselTileItems" [inputs]="carouselSettings">
                <ngu-tile *nguCarouselDef="let item; let j = index">
                    <ng-container *ngIf="j % 2 === 0">
                        <img src="/assets/images/shane.png" alt="'shane arthur'" />
                    </ng-container>
                    <ng-container *ngIf="j % 2 !== 0">
                        <img src="/assets/images/shane2.jpg" alt="'shane arthur'" />
                    </ng-container>
                </ngu-tile>
            </ngu-carousel>
        </div>
        <div class="description-container">
            <p> I am a software engineer born in Halifax, NS and raised in Bedford,
                NS. I attended Memorial University of Newfoundland in 2008, and in 2012 graduated with my Bachelor of
                Science
                in Computer Science.
            </p>

            <p> Software Development has taken me across the continent: I studied in St John's, NL, and since
                graduation have worked in New York City, NY; Toronto, ON; Calgary, AB; Halifax, NS;
                and Fredericton, NB.
            </p>
            <div class="home-depot-container">
                <p> I am currently working in North York, ON as a UI Architect for Home Depot Canada.</p>
                <div class="image-container">
                    <img src="../../../assets/images/homedepot.png" alt="shane arthur job">
                </div>
            </div>
        </div>
    </div>
</div>