@import '../../../assets/styles/layout/breakpoints';

div {
    h2 {
        font-size: 1.2rem;
        text-align: center;

        @include mq-large-min {
            font-size: 2.0rem;
        }

    }

    .close-container {
        float: right;
        margin-top: -4%;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .close-container:hover {
        transform: scale(1.25);
        color: red;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include mq-medium-min {
            flex-wrap: nowrap;
        }

        .image-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            img {
                width: 150px;
                height: 200px;
                border-radius: 10px;
                margin: 0 auto;

                @include mq-medium-min {
                    width: 300px;
                    height: 375px;
                    border-radius: 15px;
                }

                @include mq-large-min {
                    width: 450px;
                    height: 550px;
                    border-radius: 25px;
                }

            }
        }

        .description-container {
            margin: 2.5%;
            height: 275px;
            overflow-y: auto;

            @include mq-large-min {
                height: auto;
            }

            p {
                text-indent: 0.75em;
                line-height: 1.0em;
                font-size: 0.9rem;

                @include mq-large-min {
                    text-indent: 1.25em;
                    line-height: 2.0em;
                    font-size: 1.2rem;
                }

            }

            .home-depot-container {
                display: flex;
                flex-direction: row;

                .image-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 5px;

                    img {
                        height: 33px;
                        width: 33px;
                        margin: 0 auto;


                        @include mq-large-min {
                            height: 44px;
                            width: 44px;
                        }
                    }

                }

            }

        }
    }
}