<div>
    <div (click)="closeFunc()" class="close-container">
        X
    </div>

    <h2> Hi, I'm Shane Arthur</h2>

    <div class="info-container">
        <div class="image-container">
            <img src="../../../assets/images/shane.jpg" />
        </div>
        <div class="description-container">
            <p> I am a software engineer who was born in Halifax, Nova Scotia. I graduated with my Bachelor of Science
                in Computer Science from Memorial University of Newfoundland in 2012.
            </p>

            <p> Software Development has taken me across the contient; I studied in St John's, Newfoundland, and since
                graduation have worked in New York City, Toronto (Ontario), Calgary (Alberta), Halifax (Nova Scotia),
                and Fredericton (New Brunswick)
            </p>
            <div class="home-depot-container">
                <p> I am currently working in North York, Ontario as a front-end architect for The Home Depot Canada</p>
                <div class="image-container">
                    <img src="../../../assets/images/homedepot.png">
                </div>
            </div>
        </div>
    </div>
</div>