@import '../../../assets/styles/layout/breakpoints';

div {
    h2 {
        font-size: 1.2rem;
        text-align: center;

        @include mq-large-min {
            font-size: 2.0rem;
        }

    }

    .close-container {
        float: right;
        margin-top: -25px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .close-container:hover {
        transform: scale(1.25);
        color: red;
    }

    .info-container {
        display: flex;
        flex-direction: row;

        .image-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 175px;
                height: 250px;
                border-radius: 10px;

                @include mq-large-min{
                    width: 450px;
                height: 550px;
                border-radius: 25px;
                }

            }
        }

        .description-container {
            margin: 2.5%;
            height: 200px;
            overflow-y: auto;
            
            @include mq-large-min{
                height: auto;
            }

            p {
                text-indent: 0.75em;
                line-height: 1.0em;
                font-size: 0.9rem;

                @include mq-large-min{
                    text-indent: 1.25em;
                line-height: 2.0em;
                font-size: 1.2rem;
                }

            }

            .home-depot-container {
                display: flex;
                flex-direction: row;

                .image-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;

                    img {
                        height: 22px;
                        width: 22px;

                        @include mq-medium-min{
                            height: 33px;
                            width: 33px;
                        }

                        @include mq-large-min{
                            height: 44px;
                            width: 44px;
                        }
                    }

                }

            }

        }
    }
}