@import '../../../assets/styles/layout/_breakpoints';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  home-text {
    margin-top: 15%;

    @include mq-large-min {
      margin-top: 10%;
    }
  }

  profession-text {
    margin-top: 50%;

    @include mq-large-min {
      margin-top: 15%;
    }
  }

}
