@font-face{
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Regular.ttf');
}

@font-face{
    font-family: 'Oswald:Bold';
    src: url('/assets/fonts/Oswald/Oswald-Bold.ttf');
}

@font-face{
    font-family: 'Big-Shoulders';
    src: url('assets/fonts/Big-Shoulders/BigShouldersText-Black.ttf')
}