@import '../../../../assets/styles/abstracts/_variables';
@import '../../../../assets/styles/layout/_breakpoints';

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
  font-size: 1.0rem;
  cursor: pointer;

  @include mq-medium-min{
    width: 8rem;
  }

  @include mq-large-min{
    width: 12rem;
  }

  nav:first-child {
    margin-right: 10%;
  }

  p {
    text-align: center;
    color: $shane-site-white;
  }

  p:hover {
    transform: scale(1.1);
  }

}