/* Media Query */
// SMALL - 480px +
$mq-small: 30em !default;
// MEDIUM - 768px +
$mq-medium: 48em !default;
// LARGE - 1025px +
$mq-large: 64em !default;
// LARGE old resolution - 1268px;
$mq-large-med: 76em !default;
// LARGE - 1600px+
$mq-x-large: 90em !default;