/* Media Query */
// SMALL - 480px +
$mq-small: 30em !default;
// MEDIUM - 768px +
$mq-medium: 48em !default;
// LARGE - 1025p x+
$mq-large: 64em !default;
// LARGE - 1600px+
$mq-x-large: 90em !default;