div {
  background: url('../assets/images/peggyscove.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 98vh;
  overflow:hidden;
}
