<div class="page-container">
    <div (click)="closeFunc()" class="close-button">
        &#x2715;
    </div>
    <div class="map-container">
        <google-map [zoom]="zoom" [center]="center">

            <ng-container *ngFor="let markerPosition of markerPositions; let i = index;">
                <map-marker #marker="mapMarker" [position]="markerPosition" [options]="markerOptions[i]"
                    (mapClick)="openInfoWindow(marker, i)"></map-marker>
            </ng-container>
            <map-info-window>
                <app-info-window [title]="selectedInfoWindow.title" [position]="selectedInfoWindow.position"
                    [range]="selectedInfoWindow.range">
                </app-info-window>
            </map-info-window>
        </google-map>
    </div>
</div>