article {
    font-family: 'Oswald';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;

    h4 {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
    }

    span {
        margin: 1px;
    }

    span[name="range"] {
        font-size: 0.6rem;
        font-style: italic;
        color: darkgray;
    }

    span[name="position"] {
        font-size: 0.8rem;
    }

}