/* You can add global styles to this file, and also import other style files */

@import './assets/fonts/fonts.scss';
@import './assets/styles/components/';
@import './assets/styles/layout/';

html,
body {
    font-family: 'Oswald';
}

.ng2-pdf-viewer-container {
    overflow: hidden;
    border-radius: 15px;
    height: 800px !important;
}

button {
    font-family: 'Oswald'
}

ngu-tile {
    .tile {
        box-shadow: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}