/* You can add global styles to this file, and also import other style files */

@import './assets/fonts/fonts.scss';
@import './assets/styles/components/';
@import './assets/styles/layout/';

html,
body {
    font-family: 'Oswald';
}

.ng2-pdf-viewer-container {
    overflow: hidden;
    border-radius: 15px;
    height:750px!important;
}

button{
    font-family: 'Oswald'
}