@mixin linear-gradient($from, $to) {
    background: $to!important;
    background: -moz-linear-gradient(top, $from 0%, $to 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to))!important;
    background: -webkit-linear-gradient(top, $from 0%, $to 100%)!important;
    background: -o-linear-gradient(top, $from 0%, $to 100%)!important;
    background: linear-gradient(to bottom, $from 0%, $to 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})!important;
}