@import '../../../assets/styles/layout/breakpoints';

.close-container {
    float: right;
    font-size: 1.5rem;
    margin-top: -10%;
    cursor: pointer;

    @include mq-medium-min {
        margin-top: 0;
    }
}

.close-container:hover {
    transform: scale(1.25);
    color: red;
}

pdf-viewer {
    display: none;

    @include mq-large-min {
        display: block;
    }
}

.message-container {
    display: block;
    height: 250px;

    h2{
        font-size: 1.1rem;
        text-align: center;
    }

    @include mq-large-min {
        display: none;
    }
}