<div (click)="closeFunc()" class="close-container">
    <div class="close-button">
        &#x2715;
    </div>
</div>
<div class="pdf-container">
    <div class="pdf-viewer-container">
        <div class="page-display-container">
            <div class="page-counter-container">
                <div class="page-counter">
                    Page: &nbsp; <span [@numberChanged]="currentPage"> {{currentPage}} / {{maxPages}}</span>
                </div>
            </div>
            <div class="button-container">
                <a href='../../../assets/pdfs/resume10.pdf' download="shane_arthur_resume_2019">
                    <button> Download </button>
                </a>
            </div>
            <div class="button-container">
                <button [disabled]="currentPage === maxPages" (click)="onNextClick()">Next</button>
            </div>
            <div class="button-container">
                <button (click)="onPrevClick()" [disabled]="currentPage === 1">
                    Prev
                </button>
            </div>
        </div>
        <pdf-viewer [show-all]="false" [page]="currentPage" [zoom]="'0.4'" class="pdf-viewer" [src]="pdfSrc"
            [render-text]="true"></pdf-viewer>
    </div>
</div>
<div class="message-container">
    <h2>
        Please view this page on a desktop or:
    </h2>
    <div class="button-container">
        <a href='../../../assets/pdfs/resume10.pdf' download="shane_arthur_resume_2019">
            <button> Download </button>
        </a>
    </div>
</div>